/* Some standard styles */
html{
  margin: auto;
  overflow-x: hidden;
}
/* body {
  font-family: Arial, Helvetica, sans-serif;
  color:#666;
  overflow-x: hidden;
  margin:0;
  padding:0;
  display: flex;
}
ul,li,p,h1,h2,h3,h4,h5,h6,dl,dt,dd,a{
  margin:0;
  padding:0;
  border:none;
  list-style:none;
  text-decoration: none;
}
img {
  border: none;
}
a {
  outline: none;
  color: #666;
}
input {border:none;}
.lf   {float:left;}
.rt  {float:right;}
.clear  {clear:both;}
.cursor{  cursor: pointer;}
.title_font{font-size: 0.35rem;}
.w100{width: 100%;} */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-thumb {
  background: #adadad;
  border-radius: 15px;
}
::-webkit-scrollbar-thumb:hover{
  background: #7d7d7d;
}
::-webkit-scrollbar-track{
  background: #ffffff;
  border-radius: 0px;
}
#map {
  height: 100%;
  width: 100%;
}
td,th{
  text-align: center !important;
  height: 15px !important;
}
/* Customized styles */
.container_main{
  /* margin: auto; */
  width: 100%;
  height: 820px;
  min-width: 100%;
  margin: auto;
  background-color: #fff;
  overflow: hidden;
}
.flex {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
.mainsection{
  float: left;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #fff;
}
.pages{
  width: 93%;
  height: 100%;
  overflow: hidden;
  display: none;
}
.navsection{
  margin: 0;
  width: 20%;
  height: 100%;
  display: none;
  background-color: #4287f5;
}
.navcontent{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
.li_a {
  display: block;
  background-color: #f1f1f1;
  color: #000;
  text-decoration: none;
  width: 98%;
  line-height: 50px;
  margin: 0 1% 5px 1%;
  text-align: left ;
  padding-left: 20px;
  border: 1px solid #000;
  border-radius: 20px;
}
.li_a:hover {
  background-color: #555;
  color: white;
}
li button {
  display: block;
  background-color: #f1f1f1;
  color: #000;
  text-decoration: none;
  width: 98%;
  line-height: 50px;
  margin: 0 1% 5px 1%;
  text-align: left ;
  padding-left: 20px;
  border: 1px solid #000;
  border-radius: 20px;
}
li button:hover {
  background-color: #555;
  color: white;
}
.nav_item{
  display: block;
  background-color: #f1f1f1;
  color: #000;
  text-decoration: none;
  width: 90%;
  line-height: 50px;
  margin-bottom: 5px;
  margin-left: 9%;
  margin-right: 1%;
  text-align: center ;
  border: 1px solid #000;
  border-radius: 20px;
}
.nav_item:hover {
  background-color: #555;
  color: white;
}
.nav_box{
  line-height: 35px;
}
.nav_icon{
  width: fit-content;
  height: fit-content;
  overflow: hidden;
  position: relative;
}
.nav_icon:hover{
  background-color: #999;
  color: white;
}
button.btn_selected{
  background-color: #1a27ba;
  color: white;
}
.research_box{
  height: 90%;
  width: 90%;
  margin: 50px 40px;
  display: inline-block;
  overflow: auto;
  white-space: nowrap;
  justify-content: center;
  border: 1px solid #000;
}
.research_box{
  height: 90%;
  width: 90%;
  margin: 50px 40px;
  display: inline-block;
  overflow: auto;
  white-space: nowrap;
  justify-content: center;
  border: 1px solid #000;
}
.research_card{
  height: 180px;
  width: 90%;
  float: left;
  overflow: hidden;
  margin-top: 10px;
  margin-left: 10px;
  border: 1px solid #000;
}
.card_header{
  height: 30%;
  width: 100%;
  padding-left: 10px;
  border: 1px solid #000;
}
.card_main{
  height: 70%;
  width: 100%;
  display: flex;
  float: left;
  border: 1px solid #000;
}
.card_image{
  height: 100%;
  width: 25%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  border: 1px solid #000;
}
.card_stacked{
  height: 100%;
  width: 75%;
  border: 1px solid #000;
}
.card_content{
  height: 70%;
  width: 100%;
  padding-left: 10px;
  border: 1px solid #000;
}
.card_action{
  height: 30%;
  width: 100%;
  padding-left: 10px;
  display: flex;
  align-items: center;
  border: 1px solid #000;
}
.link{
  color: blue;
}
.link:hover{
  color: aqua;
}
.pages.selectlist{
  width: 500px;
  height: 200px;
}
.dropdown_extra{
  margin: 20px 25px;
  height: auto;
  width: 26%;
  float: left;
}
.btn_extra{
  margin: 10px 15px;
  height: auto;
  width: 10%;
  float: left;
}
.dropdown_extra_2{
  margin: 25px 10px 10px 5px;
  height: auto;
  width: 35%;
  float: left;
}
.map_container{
  width: 90%;
  height: 90%;
  min-width: 90%;
  min-height: 90%;
  margin: 5% 5%;
}
.map_container:hover{
  border: 1px solid red;
}
.hover_part{
  display: none;
  height: 100px;
  width: 200px;
  padding: 20px;
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  border-radius: 30px;
  position: absolute;
  top: 40%;
  left: 40%;
  z-index: 1;
}