/* Some standard styles */
html{
  margin: auto;
  overflow-x: hidden;
}
/* body {
  font-family: Arial, Helvetica, sans-serif;
  color:#666;
  overflow-x: hidden;
  margin:0;
  padding:0;
  display: flex;
}
ul,li,p,h1,h2,h3,h4,h5,h6,dl,dt,dd,a{
  margin:0;
  padding:0;
  border:none;
  list-style:none;
  text-decoration: none;
}
img {
  border: none;
}
a {
  outline: none;
  color: #666;
}
input {border:none;}
.lf   {float:left;}
.rt  {float:right;}
.clear  {clear:both;}
.cursor{  cursor: pointer;}
.title_font{font-size: 0.35rem;}
.w100{width: 100%;} */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-thumb {
  background: #adadad;
  border-radius: 15px;
}
::-webkit-scrollbar-thumb:hover{
  background: #7d7d7d;
}
::-webkit-scrollbar-track{
  background: #ffffff;
  border-radius: 0px;
}
#map {
  height: 100%;
  width: 100%;
}
td,th{
  text-align: center !important;
  height: 15px !important;
}
/* Customized styles */
.container_main{
  /* margin: auto; */
  width: 100%;
  height: 820px;
  min-width: 100%;
  margin: auto;
  background-color: #fff;
  overflow: hidden;
}
.flex {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
.mainsection{
  float: left;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #fff;
}

.pages{
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: none;
}
.navtop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f8f8f8;
  border-color: #e7e7e7;
  position: relative;
  min-height: 25px;
  border: 1px solid transparent;
}
.navsection{
  margin: 0;
  width: 20%;
  height: 100%;
  display: none;
  background-color: #37474F;
}
.navcontent{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
.li_a {
  display: block;
  background-color: none;
  color: #CFD8DC;
  text-decoration: none;
  width: 100%;
  line-height: 50px;
  margin: 0 ;
  text-align: left ;
  padding-left: 20px;
}
.li_a:hover {
  text-decoration: none;
  background-color: #555;
  color: #CFD8DC;
}
.li_a:active {
  color: #CFD8DC;
  text-decoration: none;
}
.li_a:visited {
  color: #CFD8DC;
  text-decoration: none;
}
.li_a:link {
  color: #CFD8DC;
  text-decoration: none;
}
li button {
  display: block;
  background: none;
  color: #CFD8DC;
  text-decoration: none;
  width: 100%;
  line-height: 50px;
  margin: 0 ;
  text-align: left ;
  border: 1px solid #455A64;
  padding-left: 20px;
}
li button:hover {
  background-color: #555;
  color: white;
}
.btn_icon {
  display: inline-block;
  padding-right: 20px;
  color: #CFD8DC;
}
.nav_item{
  display: block;
  background-color: none;
  color: #CFD8DC;
  text-decoration: none;
  width: 100%;
  line-height: 50px;
  text-align: left ;
  padding-left: 20px;
}
.nav_item:hover {
  background-color: #555;
  color: white;
}
.nav_box{
  line-height: 35px;
}
.nav_icon{
  width: fit-content;
  height: fit-content;
  overflow: hidden;
  position: relative;
}
.nav_icon:hover{
  background-color: #999;
  color: white;
}
button.btn_selected{
  background-color: #4c626d;
  color: white;
}
.research_box{
  height: 90%;
  width: 96%;
  margin: 30px 4% 20px 0;
  display: inline-block;
  overflow: auto;
  white-space: nowrap;
  justify-content: center;
  box-shadow:inset 0px 15px 10px -15px #000, inset 0px -15px 10px -15px #000;
}
.research_card{
  height: 180px;
  width: 95%;
  float: left;
  overflow: hidden;
  margin-top: 5px;
  margin-left: 10px;
  margin-bottom: 5px;
  border: 1px solid #c5cedb;
  box-shadow: 5px 5px 3px #888888
}
.card_main{
  height: 100%;
  width: 100%;
  display: flex;
  float: left;
}
.card_image{
  height: 100%;
  width: 25%;
  display: flex;
  justify-content: center;
  text-align: center;
}
.card_image_after{
  display: inline-block;
  width: 1px;
  background-color: #c5cedb;
  height: 70%;
  margin: 15% 2px;
}
.image_pic {
  min-width: 100%;
  min-height: 100%;
  display: block;
  margin-top: -25%;
}
.card_stacked{
  height: 100%;
  width: 75%;
}
.stack_line{
  display: block;
  height: 1px;
  width: 40%;
  margin: 0px 30%;
  overflow: hidden;
  background-color: #c5cedb;
}
.card_header{
  height: 25%;
  width: 100%;
  padding-left: 10px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: hidden;
}
.category{
  margin-right: 20px;
  padding: 2px 10px;
  border: 1px solid #fff;
  border-radius: 5px;
  background-color: #8c8d91; 
  color: #fff;
  text-transform: uppercase;
}
.card_content{
  height: 55%;
  width: 100%;
  min-width: 100%;
  padding: 0 10px 2px 10px;
  white-space: normal;
  word-wrap: break-word;
  overflow: hidden;
}
.card_action{
  height: 20%;
  width: 100%;
  padding-left: 10px;
  display: flex;
  align-items: center;
}
.link{
  color: blue;
}
.link:hover{
  color: aqua;
}
.pages.selectlist{
  width: 500px;
  height: 200px;
}
.dropdown_extra{
  margin: 20px 25px;
  height: auto;
  width: 26%;
  float: left;
}
.btn_extra{
  margin: 10px 15px;
  height: auto;
  width: 10%;
  float: left;
}
.dropdown_extra_2{
  margin: 25px 10px 10px 5px;
  height: auto;
  width: 35%;
  float: left;
}
.map_container{
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  margin: 0;
}
/* The popup bubble styling. */
.popup-bubble {
  /* Position the bubble centred-above its parent. */
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -100%);
  /* Style the bubble. */
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  font-family: sans-serif;
  overflow-y: auto;
  max-height: 60px;
  box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.5);
}
/* The parent of the bubble. A zero-height div at the top of the tip. */
.popup-bubble-anchor {
  /* Position the div a fixed distance above the tip. */
  position: absolute;
  width: 100%;
  bottom: 8px;
  left: 0;
}
/* This element draws the tip. */
.popup-bubble-anchor::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  /* Center the tip horizontally. */
  transform: translate(-50%, 0);
  /* The tip is a https://css-tricks.com/snippets/css/css-triangle/ */
  width: 0;
  height: 0;
  /* The tip is 8px high, and 12px wide. */
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 8px solid white;
}
/* JavaScript will position this div at the bottom of the popup tip. */
.popup-container {
  cursor: auto;
  height: 0;
  position: absolute;
  /* The max width of the info window. */
  width: 200px;
}
.message-container {
  height: 78%;
  width: 100%;
  padding: 5px 10px;
  display: inline-block;
  overflow: auto;
  white-space: nowrap;
  justify-content: center;
  box-shadow:inset 0px 15px 10px -15px #000, inset 0px -15px 10px -15px #000;
}
.notification {
  display: none;
  z-index: 999;
  align-self: center;
}