/* Some standard styles */
:root {
	--dark-color-a: #667aff;
	--dark-color-b: #7386ff;
	--light-color: #e6e9ff;
	--success-color: #5cb85c;
	--error-color: #d9534f;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html{
  margin: auto;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-thumb {
  background: #adadad;
  border-radius: 15px;
}
::-webkit-scrollbar-thumb:hover{
  background: #7d7d7d;
}
::-webkit-scrollbar-track{
  background: #ffffff;
  border-radius: 0px;
}
#map {
  height: 100%;
  width: 100%;
}
td,th{
  text-align: center !important;
  height: 15px !important;
}
/* Customized styles */
.container_main{
  /* margin: auto; */
  width: 100%;
  height: 820px;
  min-width: 100%;
  margin: auto;
  background-color: #fff;
  overflow: hidden;
}
.flex {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
.mainsection{
  float: left;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #fff;
}

.pages{
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: none;
}
.navtop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f8f8f8;
  border-color: #e7e7e7;
  position: relative;
  min-height: 25px;
  border: 1px solid transparent;
}
.navsection{
  margin: 0;
  width: 20%;
  height: 100%;
  display: none;
  background-color: #37474F;
}
.navcontent{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
.li_a {
  display: block;
  background-color: none;
  color: #CFD8DC;
  text-decoration: none;
  width: 100%;
  line-height: 50px;
  margin: 0 ;
  text-align: left ;
  padding-left: 20px;
}
.li_a:hover {
  text-decoration: none;
  background-color: #555;
  color: #CFD8DC;
}
.li_a:active {
  color: #CFD8DC;
  text-decoration: none;
}
.li_a:visited {
  color: #CFD8DC;
  text-decoration: none;
}
.li_a:link {
  color: #CFD8DC;
  text-decoration: none;
}
li button {
  display: block;
  background: none;
  color: #CFD8DC;
  text-decoration: none;
  width: 100%;
  line-height: 50px;
  margin: 0 ;
  text-align: left ;
  border: 1px solid #455A64;
  padding-left: 20px;
}
li button:hover {
  background-color: #555;
  color: white;
}
.btn_icon {
  display: inline-block;
  padding-right: 20px;
  color: #CFD8DC;
}
.nav_item{
  display: block;
  background-color: none;
  color: #CFD8DC;
  text-decoration: none;
  width: 100%;
  line-height: 50px;
  text-align: left ;
  padding-left: 20px;
}
.nav_item:hover {
  background-color: #555;
  color: white;
}
.nav_box{
  line-height: 35px;
}
.nav_icon{
  width: fit-content;
  height: fit-content;
  overflow: hidden;
  position: relative;
}
.nav_icon:hover{
  background-color: #999;
  color: white;
}
button.btn_selected{
  background-color: #4c626d;
  color: white;
}
.research_box{
  height: 90%;
  width: 96%;
  margin: 30px 4% 20px 0;
  display: inline-block;
  overflow: auto;
  white-space: nowrap;
  justify-content: center;
  box-shadow:inset 0px 15px 10px -15px #000, inset 0px -15px 10px -15px #000;
}
.research_card{
  height: 180px;
  width: 95%;
  float: left;
  overflow: hidden;
  margin-top: 5px;
  margin-left: 10px;
  margin-bottom: 5px;
  border: 1px solid #c5cedb;
  box-shadow: 5px 5px 3px #888888
}
.card_main{
  height: 100%;
  width: 100%;
  display: flex;
  float: left;
}
.card_image{
  height: 100%;
  width: 25%;
  display: flex;
  justify-content: center;
  text-align: center;
}
.card_image_after{
  display: inline-block;
  width: 1px;
  background-color: #c5cedb;
  height: 70%;
  margin: 15% 2px;
}
.image_pic {
  min-width: 100%;
  min-height: 100%;
  display: block;
  margin-top: -25%;
}
.card_stacked{
  height: 100%;
  width: 75%;
}
.stack_line{
  display: block;
  height: 1px;
  width: 40%;
  margin: 0px 30%;
  overflow: hidden;
  background-color: #c5cedb;
}
.card_header{
  height: 25%;
  width: 100%;
  padding-left: 10px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: hidden;
}
.category{
  margin-right: 20px;
  padding: 2px 10px;
  border: 1px solid #fff;
  border-radius: 5px;
  background-color: #8c8d91; 
  color: #fff;
  text-transform: uppercase;
}
.card_content{
  height: 55%;
  width: 100%;
  min-width: 100%;
  padding: 0 10px 2px 10px;
  white-space: normal;
  word-wrap: break-word;
  overflow: hidden;
}
.card_action{
  height: 20%;
  width: 100%;
  padding-left: 10px;
  display: flex;
  align-items: center;
}
.link{
  color: blue;
}
.link:hover{
  color: aqua;
}
.pages.selectlist{
  width: 500px;
  height: 200px;
}
.dropdown_extra{
  margin: 20px 25px;
  height: auto;
  width: 26%;
  float: left;
}
.btn_extra{
  margin: 10px 15px;
  height: auto;
  width: 10%;
  float: left;
}
.dropdown_extra_2{
  margin: 25px 10px 10px 5px;
  height: auto;
  width: 35%;
  float: left;
}
.map_container{
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  margin: 0;
}
/* The popup bubble styling. */
.popup-bubble {
  /* Position the bubble centred-above its parent. */
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -100%);
  /* Style the bubble. */
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  font-family: sans-serif;
  overflow-y: auto;
  max-height: 60px;
  box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.5);
}
/* The parent of the bubble. A zero-height div at the top of the tip. */
.popup-bubble-anchor {
  /* Position the div a fixed distance above the tip. */
  position: absolute;
  width: 100%;
  bottom: 8px;
  left: 0;
}
/* This element draws the tip. */
.popup-bubble-anchor::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  /* Center the tip horizontally. */
  transform: translate(-50%, 0);
  /* The tip is a https://css-tricks.com/snippets/css/css-triangle/ */
  width: 0;
  height: 0;
  /* The tip is 8px high, and 12px wide. */
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 8px solid white;
}
/* JavaScript will position this div at the bottom of the popup tip. */
.popup-container {
  cursor: auto;
  height: 0;
  position: absolute;
  /* The max width of the info window. */
  width: 200px;
}



.notification {
  display: none;
  z-index: 999;
  align-self: center;
}

.tab_comp {
  display: table;
  z-index: 999;
  height: fit-content;
  bottom: 0;
}

.tab_btn {
  height: 50px;
  width: 50px;
  float: right;
  margin-right: 10px;
  margin-bottom: 6px;
  z-index: 999;
}

/* .chat-box {
  position: fixed;
  right: 5%; 
  bottom: 5%; 
  width: 300px; 
  height: 600px; 
  background-color: #fff;
  border: 3px solid #000;
  border-radius: 5px;
  z-index: 999;
}

.box_title {
  display: flex;
  height: 20%;
  width: 100%;
  justify-content: center;
  align-items: center;
} */

.chat-container {
  right: 5%; 
  bottom: 5%; 
  width: 300px; 
  height: 600px; 
  z-index: 9999;
  position: fixed;
	max-width: 1100px;
	background: #fff;
  border: var(--dark-color-a) 1px solid;
	margin: 30px auto;
	overflow: hidden;
}

.chat-header {
	background: var(--dark-color-a);
	color: #fff;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.chat-messages {
	padding: 30px;
  height: 416px;
	max-height: 416px;
	overflow-y: scroll;
}

.chat-main {
	display: grid;
}

.chat-messages .message {
	padding: 10px;
	margin-bottom: 15px;
	background-color: var(--light-color);
	border-radius: 5px;
}

.chat-messages .message .meta {
	font-size: 15px;
	font-weight: bold;
	color: var(--dark-color-b);
	opacity: 0.7;
	margin-bottom: 7px;
}

.chat-messages .message .meta span {
	color: #777;
}

.chat-form-container {
	padding: 20px 30px;
	background-color: var(--dark-color-a);
}

.chat-form-container form {
	display: flex;
}

.chat-form-container input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	flex: 1;
}

.btn {
	cursor: pointer;
	padding: 5px 15px;
	background: var(--light-color);
	color: var(--dark-color-a);
	border: 0;
	font-size: 17px;
}

.rescuebtn {
  margin-right: 10px;
  border-radius: 10px;
  text-align: center;
  vertical-align: middle;
  line-height: 26px; 
}

.breathing {
  height: 26px;
  width: 100px;
  border: 1px solid #da2c2c;
  -webkit-animation: breathing 1s ease-out infinite normal;
  animation: breathing 1s ease-out infinite normal;
  font-family:'Lantinghei SC';
  font-size: 16px;
  font-weight: bold;
  background: #da2c2c;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  border-radius: 2px;
  text-align: center;    
}

.breathing-after {
  height: 23.4px;
  width: fit-content;
  border: 1px solid #da2c2c;
  font-family:'Lantinghei SC';
  font-size: 13px;
  font-weight: bold;
  background: #da2c2c;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  border-radius: 2px;
  text-align: center; 
}


@-webkit-keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
}

.bounce {
  display: inline-block;
  position: relative;
  -moz-animation: bounce 0.5s infinite linear;
  -o-animation: bounce 0.5s infinite linear;
  -webkit-animation: bounce 0.5s infinite linear;
  animation: bounce 0.5s infinite linear;
  colr:000;
}
@-webkit-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@-moz-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@-o-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@-ms-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}